DATABASE_CONNECTION_STRING="postgresql+asyncpg://{db-user}:{db-password}@localhost:5432/{db-name}"
POSTGRES_USER="db-user"
POSTGRES_PASSWORD="db-password"
POSTGRES_DB="db-name"
JWT_SECRET="256-bit-signing-key"
BASE_URL="backend-base-url"